@model IEnumerable<App.Models.File>

    </br>
    </br>
        <form enctype="multipart/form-data">
            <button type="button" id="btnImport">Importer</button>
            <button type="button" id="btnCreateFolder">Creer dossier</button>

            <input type="file" id="FileUpload" style="display:none;" />
        </form>
        </br>
        </br>

        <input type="text" class="form-control" id="inptPath"  value="/">
        <table class="table table-hover " id="table-drive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["_Index_Dropbox"] as IEnumerable<App.Models.File>)
                {
                    <tr id="@item.Path">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreation)
                        </td>
                        <td>
                            <a asp-action="Visualiser" asp-route-id="@item.IdDropbox">Editer</a>|
                            <a asp-action="Telecharger" asp-route-id="@item.IdDropbox">Telecharger</a>|
                            <a asp-action="DeleteDropbox" asp-route-id="@item.IdDropbox">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

