@model IEnumerable<App.Models.File>

@{
    ViewData["Title"] = "Index";
}

<style>
    .btn:active {
        background-color: yellow;
    }

    .btn.active {
        color: #333;
        background-color: red;
    }

</style>

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des fichiers et dossiers</h3>
                    <p>
                        <a asp-action="Create">Nouveau fichier</a>
                    </p>
                </div>
                <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary active">Local</button>
                        <button type="button" class="btn btn-secondary">Dropbox</button>
                        @*<button type="button" class="btn btn-secondary">Google</button>*@
                    </div>
                    <div class="row">
                        <div id="IndexLocal">
                            @Html.Partial("_Index_Local.cshtml", ViewData["_Index_Local"])
                        </div>
                        <div id="IndexDropbox">
                            @Html.Partial("_Index_Dropbox.cshtml", ViewData["_Index_Dropbox"])

                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        if (@ViewBag.btnGroup == 1) {
            $("#IndexLocal").show();
            $("#IndexDropbox").hide();
        } else {
            $("#IndexLocal").hide();
            $("#IndexDropbox").show();
        }

        $('#table-drive').on('click', 'tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
            var rows = getHighlightRow();
            if (rows != undefined) {
                $("#inptPath").val(rows.attr('id'));
            }
        });

        var getHighlightRow = function () {
            return $('table > tbody > tr.highlight');
        }

        $('#table-drive').on('dblclick', 'tbody tr', function (event) {  
            alert("double click");
            $(this).addClass('highlight').siblings().removeClass('highlight');
            var rows = getHighlightRow();
            if (rows != undefined) {
                //envoyer le path parent pour recupérer les enfants // call action
                $("#inptPath").val(rows.attr('id'));
            }
        });
    });


    $("#FileUpload").on("change", function () {
        console.log($(this));

        var file = {
            path: "",
            file_name: $("input#FileUpload").prop('files')[0].name,
            path_local: $("input#FileUpload").prop('files')[0]
        };

         $.ajax({
                url: "@Url.Action("Importer", "Files")",
                type: "POST",
                dataType: "json",
                data: file,
                success: function (response) {
                    response ? alert("It worked!") : alert("It didn't work.");
                }
            });

    });

    $("#btnImport").on("click", function () {
        $("#FileUpload").click();
    });

    $("#btnCreateFolder").on("click", function () {

         $.ajax({
                url: "@Url.Action("CreateFolder", "Files")",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    response ? alert("It worked!") : alert("It didn't work.");
                }
            });
    });

    $(".btn-group > .btn").click(function () {
        $(".btn-group > .btn").removeClass("active");
        $(this).addClass("active");
        console.log(this.innerHTML);
        var selected = (this.innerHTML == "Dropbox" ? 2 : 1);
        if (selected == 1) {
            $("#IndexLocal").show();
            $("#IndexDropbox").hide();
        } else {
            $("#IndexLocal").hide();
            $("#IndexDropbox").show();
        }
    });
</script>
}



